# Configurações do Banco de Dados
DB_HOST=localhost
DB_PORT=3306
DB_USERNAME=root
DB_PASSWORD=
DB_DATABASE=stefanini_db

# Configurações do Redis
REDIS_HOST=localhost
REDIS_PORT=6379

# Configurações da Aplicação
NODE_ENV=development
PORT=3001

# Configurações de Log
LOG_LEVEL=debug 